1.

float

In [ ]:
99.9

string

In [ ]:
"False"

bool

In [ ]:
False

string

In [ ]:
'0'

integer

In [ ]:
0

bool

In [ ]:
True

string

In [ ]:
'True'

list

In [ ]:
[{}]

dictionary

In [ ]:
{'a': []}


<br>
2.


What data type would best represent the following?<br>
A term or phrase typed into a search box - String<br>
Whether or not a user is logged in - Bool<br>
A discount amount to apply to a user's shopping cart - Float<br>
Whether or not a coupon code is valid - Bool<br>
An email address typed into a registration form - String<br>
The price of a product - Float<br>
The email addresses collected from a registration form - list<br>
Information about applicants to Codeup's data science program - dictionary<br>

3.

In [ ]:
'1' + 2
#TypeError: can only concatenate str (not "int") to str

In [ ]:
6 % 4
# answer 2

In [ ]:
type(6 % 4)
# answer class 'int'

In [ ]:
type(type(6 % 4))
#class 'type'

In [ ]:
'3 + 4 is ' + 3 + 4
#TypeError: can only concatenate str (not "int") to str

In [ ]:
0 < 0
#False

In [ ]:
'False' == False
#False

In [ ]:
True == 'True'
#False

In [ ]:
5 >= -5
#True

In [ ]:
True or "42"
#True

In [ ]:
6 % 5
#answer 1

In [ ]:
5 < 4 and 1 == 1
#False

In [ ]:
'codeup' == 'codeup' and 'codeup' == 'Codeup'
#False

In [ ]:
4 >= 0 and 1 !== '1'
#SyntaxError: invalid syntax

In [ ]:
6 % 3 == 0
#True

In [ ]:
5 % 2 != 0
#True

In [ ]:
[1] + 2
#TypeError: can only concatenate list (not "int") to list

In [ ]:
[1] + [2]
#[1,2]

In [ ]:
[1] * 2
#[1,1]

In [ ]:
[1] * [2]
#TypeError: can't multiply sequence by non-int of type 'list'

In [ ]:
[] + [] == []
#True

In [ ]:
{} + {}
#TypeError: unsupported operand type(s) for +: 'dict' and 'dict'

4.Describe the following scenarios. You will need to create and assign variables and use operators.

5. You have rented some movies for your kids:

The Little Mermaid for 3 days
Brother Bear for 5 days
Hercules for 1 day
If the daily fee to rent a movie is 3 dollars, how much will you have to pay?

In [ ]:
M = 3
Total = 3*M + 5*M + 1*M

print(Total)

6. Suppose you're working as a contractor for 3 companies: Google, Amazon and Facebook.

They pay you the following hourly rates:

Google: 400 dollars
Amazon: 380 dollars
Facebook: 350 dollars

This week you worked: 10 hours for Facebook, 6 hours for Google and 4 hours for Amazon.

How much will you receive in payment for this week?

In [ ]:
G = 400
A = 380
F = 350

Total = 6*G + 4*A + 10*F

print(Total)

7. A student can be enrolled to a class only if the class is not full and the class schedule does not conflict with her current schedule.

In [34]:
x = 29
no_conflict = True
cant_enroll = False

can_enroll = (x < 30 and not cant_enroll) or no_conflict

if x >= 30:
    print(cant_enroll)
else:
    print(can_enroll)

True

8. A product offer can be applied only if people buys more than 2 items, and the offer has not expired. Premium members do not need to buy a specific amount of products.

In [32]:

num_items = 1
is_premium_member = True 
offer_expired = False 


offer_applies = (num_items > 2 and not offer_expired) or (is_premium_member and num_items > 0)


if offer_applies:
    print("does apply")
else:
    print("does not apply")

does apply

9. Continue working in the data_types_and_variables.py file. Use the following code to follow the instructions below:


username = 'codeup'
password = 'notastrongpassword'
Create a variable that holds a boolean value for each of the following conditions:

The password must be at least 5 characters
The username must be no more than 20 characters
The password must not be the same as the username
Bonus Neither the username or password can start or end with whitespace

In [ ]:
username = 'codeup'
password = 'notastrongpassword'

In [29]:
username = 'codeup'
password = 'notastrongpassword'
password_min_length = len(password) >= 5
username_max_length = len(username) <= 20
username_password_diff = password != username

print(password_min_length)
print(username_max_length)
print(username_password_diff)

True
True
True